@font-face{
    font-family: Hammersmith;
    src: url(Fonts/HammersmithOne-Regular.ttf);
} 

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden;
}


body {
    font-family: Hammersmith;
    background: #283618;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

#container {
    background: #FEFAE0;
    width: 90vw;
    height: 85vh;
    border-radius: 35px;
    margin-top: 10vh;
}

#header {
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    height: 8vh;
}

#header h1 {
    color: #DDA15E;
    margin-left: 32px;
    font-size: 8vw;
}

#inning {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;  
  color: #283618;
  font-size: 5vw;
}

#inning h3, #inning h2 {
    margin: 0px auto;
}

#inningCount {
    margin: 0px auto 35px auto;
}

#top-of-inning {
    position: absolute;
    margin: -100px 0px 0px 60px;
    display: none;
}

#bottom-of-inning {
    position: absolute;
    margin-top: -125px;
    margin-left:60px;
    display: none;
}

#resetBtn {
    font-size:5vw;
    background: #283618;
    color:#fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#home-score {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50vw;
}

#line {
    width: 2px;
    height: 100px;
    background: #283618;
    margin: auto 0px auto 55px;
    display: none;
}

#count {
    height: 23vh;
    display: flex;
    justify-content: space-around;
    color: #283618;
    padding: 0px 20px;
}


#count h3 {
    color: #283618;
    font-size: 7vw;
    text-align: center;
    margin: 25px auto;
}

.ball-count {
    margin: -10px auto;
    text-align: center; 
    font-size: 4vw;
}

.fa-solid {
    margin: 0px 20px;
}

.dot-solid {
    margin:  0px;
    padding-bottom: 10px;
}

#ball-1-solid,
#ball-2-solid,
#ball-3-solid,
#ball-4-solid,
#strike-1-solid,
#strike-2-solid,
#strike-3-solid
 {
    display: none;
}

.dot-empty {
    margin: 50px 5px;
}

#plusMinus {
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
}

#pageDots {
    color: #283618;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
