@font-face{
    font-family: Hammersmith;
    src: url(Fonts/HammersmithOne-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Hammersmith;
    background: #283618;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

#container {
    background: #FEFAE0;
    width: 390px;
    height: 800px;
    border-radius: 35px;
}

#header {
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    height: 10vh;
}

#header h1 {
    color: #DDA15E;
    margin-left: 32px;
}

#inning {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;  
  color: #283618;
}

#top-of-inning {
    position: absolute;
    margin: 0px 0px 0px -40px;
}

#bottom-of-inning {
    position: absolute;
    margin-top: -16px;
    margin-left: 20px;
}

#resetBtn {
    font-size:18px;
    background: #283618;
    color:#fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#home-score {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

#line {
    width: 2px;
    height: 100px;
    background: #283618;
    margin: auto 0px auto 55px;
    display: none;
}

#count {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    color: #283618;
    padding: 0px 20px;
}


#count h3 {
    color: #283618;
    font-size: 30px;
    text-align: center;
}

.ball-count {
    margin: -10px auto;
    text-align: center; 
}

.dot-solid {
    margin:  0px;
    padding-bottom: 10px;
}

#ball-1-solid,
#ball-2-solid,
#ball-3-solid,
#ball-4-solid,
#strike-1-solid,
#strike-2-solid,
#strike-3-solid
 {
    display: none;
}

.dot-empty {
    margin: 0px 2px 25px 2px;
}

#plusMinus {
    margin: 10px auto;
    text-align: center;
    font-size: 40px;
}

#pageDots {
    color: #283618;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
